@using ORM.Web.Models
@model RegisterModel
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/_Layouts/_Layout.cshtml";
}
@section Styles
{
    <link rel="stylesheet" href="~/Content/Custom/Account/registration.css" />
}
<div class="col-lg-12 main">
    <form class="col-lg-offset-3 col-lg-6" action="/Account/Registration" method="post">
        @Html.AntiForgeryToken()
        <div class="row">
            @Html.ValidationSummary("", new { @class = "text-danger" })
        </div>
        <div class="row">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "col-lg-12 input", @placeholder = "First name" })
            @Html.ValidationMessageFor(m => m.FirstName)
        </div>
        <div class="row">
            @Html.TextBoxFor(m => m.SecondName, new { @class = "col-lg-12 input", @placeholder = "Second name" })
            @Html.ValidationMessageFor(m => m.SecondName)
        </div>
        <div class="row">
            @Html.TextBoxFor(m => m.Email, new { @class = "col-lg-12 input", @placeholder = "Email", @type = "email" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
      
        <div class="row">
            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "col-lg-12 input", @placeholder = "Confirm password", @type = "password" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
        <div class="row">
            <input class="col-lg-5 log-in" type="submit" value="Accept">
        </div>
    </form>
</div>
@section Scripts
{
}
